<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.grsu.guideapp">

  <uses-permission android:name="android.permission.INTERNET"/>

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".App"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.NoActionBar"
    tools:ignore="GoogleAppIndexingWarning">

    <activity
      android:label="@string/title_activity_home"
      android:name=".delegation.NavigationDrawerActivity"
      android:theme="@style/AppTheme.NoActionBar1">
    </activity>

    <activity
      android:configChanges="orientation|screenSize"
      android:name=".activities.route.RouteActivity"
      android:theme="@style/AppTheme.NoActionBar"/>

    <service
      android:name=".fragments.map.MyService"
      android:process=":my_service"/>

    <service
      android:name=".fragments.details.DetailsPlayerService"
      android:process=":my_service2"/>

    <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="EMPTY_API_KEY"/>

    <activity android:name=".activities.splash.SplashActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>